.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  width: 500px;
  border-radius: 10px;
}
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url('https://d22ttiuk90zxie.cloudfront.net/1000x720/Ark%20Nemesis%20Gaming%20Center-Gaming%20Center-Interiors%2CFurniture%20Design%2CInterior%20Decor%2CApprovals%20Liasoning%2CConstruction%20Management%2CMEP%20Design-Professional%20Level%20Gaming-3D-59714aw7.jpg');
  background-size: cover;
}

.labels {
  color: #000000;
  font-size: 18px;
  align-self: flex-start;
  margin-bottom: 10px;
  font-weight: 800;
  font-family: Roboto;
}
.inputs {
  height: 40px;
  width: 450px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  align-self: flex-start;
  padding-left: 10px;
  font-size: 18px;
}
.login-head {
  color: #ffffff;
  font-family: Roboto;
}
.game-btn {
  padding: 10px;
  font-size: 18px;
  font-family: Roboto;
  border-radius: 10px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.error {
  color: red;
  font-family: Roboto;
  font-size: 18px;
}
