.game-wrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.game-main-container {
  background-color: #21212d;
  min-height: 100vh;
}
.tabs {
  background-color: transparent;
  font-family: Roboto;
  border-radius: 20px;
  text-decoration: underline;
  color: #58ec0c;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
  padding: 15px;
  border: none;
}
.no {
  background-color: transparent;
  font-family: Roboto;
  border-radius: 20px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-right: 30px;
  margin-top: 30px;
  cursor: pointer;
  padding: 15px;
  border: none;
}
.tab {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
