.logo {
  height: 50px;
  width: 50px;
}
.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2e40;
  padding: 10px;
}
.link-names {
  text-decoration: none;
  margin-right: 10px;
  color:#ffffff;
}
