.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #7c7579;
  min-width: 500px;
  border-radius: 10px;
  padding: 20px;
}
.register-head {
  color: #ffffff;
  font-family: Roboto;
}
.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #4a4648;
  min-height: 100vh;
}
.labels {
  color: #ffffff;
  font-size: 18px;
  align-self: flex-start;
  margin-bottom: 10px;
  font-weight: 800;
  font-family: Roboto;
}
.inputs {
  height: 40px;
  width: 450px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
  align-self: flex-start;
  padding-left: 10px;
  font-size: 18px;
}
.register-submit {
  padding: 10px;
  border: none;
  width: 300px;
  background-color: #512376;
  color: #ffffff;
  border-radius: 8px;
  margin-top: 10px;
  font-size: 20px;
  font-family: Roboto;
  font-weight: 600;
}
